.gallery {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-width: 20%;
  -moz-column-width: 20%;
  column-width: 20%; 
  column-gap: 3px;
}

.container-researsh {
  width:600px; 
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 10px;
}

.thumbnail:hover {
  cursor: pointer;
}
