.image {
  height: 500px;
  width: 500px;
  background-color: white;
  text-align: center;
  display: block;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#imgdetail{
  width:100%;
  height: auto;
  object-fit: cover;
  max-height: 500px;

}

.infos {
  height: 500px;
  background-color: #F3F1F1;
  position: relative;
}

.margin-top {
  margin-top: 15px;

}
.margin-left{
  margin-left: 10px;
}
.margin-left{
  margin-right: 10px;
}
.margin-left1{
  margin-left: 25px;
}

.locaSize {
  font-size: 12px;
}

.center {
  margin: 0 auto;
}

.listTag{
  font-size: 12px;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 95%;
  font-size: 13px;
}

.textDroite{
  margin-left: 9em;
}

#blocCom{
  max-height: 200px;
  overflow-y: scroll;
  width: 100%;
}

.modal{
  border-radius: 20px !important;
}


#contentImage{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.name{
  font-size: 0.9em;
  font-weight: bold;
  color: #4559c8;
}

.comment{
  font-size: 0.8em;
}

ul{
  margin: 0.7em;
  padding: 0px;
}


.titre-section {
  font-size: 12px;
  color:#3d3d3d;
  padding-left: 20px;
}