<div class="row modalCustom">
  <div class="col-md-8 image"></div>
    <div class="col-md-4 infos">
        <div class="enTete margin-left">
          <h5 class="margin-top ">{{username}}</h5>
          <p class="locaSize">{{localisation}}</p>
        </div>
        <hr>
        <div class="row">
          <h6 class="margin-left1 center">{{titre}}</h6>

        </div>
      <div class="row margin-top margin-left margin-right">
        <ul class="listTag badge badge-pill badge-light" *ngFor="let tag of tags; let index = index;">
          <span class="">{{tag}}</span>
        </ul>
      </div>

      <div class="row footer">
        <span class="margin-left">Vu {{views}}</span>
        <span class="textDroite">{{date}}</span>

      </div>
    </div>
</div>
